/* Show Sub Nav */
.header .nav ul li {
  position: relative;
}

.header .nav  li:hover,
.header .nav  li:focus-within {
  cursor: pointer;
}

.header .nav  li:focus-within a {
  outline: none;
}

.header .nav .sub-nav{
  display: block !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  z-index: 999;
  top: calc(1.5em + 14px);
  border: 1px solid #0079BF;
  background: #fff;
  padding: 6px 0;
  margin: 0;
  list-style: none;
  width: fit-content;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0,0,0,.15);
  box-sizing: border-box;
}

.header .nav .sub-nav li {
  display: block !important;
}
.header .nav .sub-nav li a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  color: #2a2a2a;
  border-bottom: 1px solid #0079BF;
  box-sizing: border-box;
}

.header .nav .sub-nav li:last-child a {
  border-bottom: none;

}

.header .nav .sub-nav li a:hover,
.header .nav .sub-nav li a:focus {
  color: #0079BF;
}

.header .nav  ul li:hover > ul,
.header .nav  ul li:focus-within > ul,
.header .nav  ul li ul:hover,
.header .nav  ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header .nav  .sub-nav li {
  clear: both;
  width: 100%;
}