.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin: 20px auto 0;
}
@media (max-width: 739px){
  .wrapper {
    justify-content: center;
  }
}
.box {
  max-width: 280px !important;
  flex: 1 1 25%;
  margin: 50px 10px 10px 25px;
  position: relative;
}

.gallery a {
  width: 280px;
  height: 200px;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
}

.gallery a img {
  width: 280px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  margin: 0;
  height: 200px;
  width: 280px;
  z-index: 98;
  background: #067593;
}

.ovrl-left {
  width: 140px;
  left: 50%;
  box-shadow: 9px 0px 19px 0px rgba(105, 109, 122, 1);
  border-left: 0.5px solid rgba(255, 255, 255, 0.8);
}

.ovrl-right {
  width: 140px;
  right: 50%;
  box-shadow: -9px 0px 19px 0px rgba(105, 109, 122, 1);
}

.locker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 99;
  transition: all 0.5s ease;
}

i.arrow {
  font-size: 0.9em;
  color: #bcbcbc;
}

.clear {
  clear: both;
}
.move-right {
  -webkit-animation-name: myRight;
          animation-name: myRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.move-left {
  -webkit-animation-name: myLeft;
          animation-name: myLeft;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes myRight {
  0% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
    display: none;
  }
}

@keyframes myRight {
  0% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes myLeft {
  0% {
    right: 50%;
    opacity: 1;
  }
  100% {
    right: 80%;
    opacity: 0;
    display: none;
  }
}

@keyframes myLeft {
  0% {
    right: 50%;
    opacity: 1;
  }
  100% {
    right: 80%;
    opacity: 0;
    display: none;
  }
}